*{
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:black;
    width: 50%;
    height: 25px;
}
hr:hover{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 0px 35px 0px;
}
p{
    text-align:center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
    position: relative;
}
p:hover{
    text-align:center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    position: relative;
}

div.my_pic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 300px;
}
sup{
    color: black;
    font-weight:400;
    padding:0%;
}
nav{
    height: 110px;
    background:#1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px; /*Top, Right, bottom, Left*/
}
nav .logo{
    font-size: 30px;
    color: white;
    font-weight: 600px;
    position: static;
}
nav .logo:hover{
    font-size: 35px;
    color:white;
    font-weight: 900px;
    position: static;
    transition: all 0.5s ease-in-out;
}
nav ul{
    display: flex;
    list-style: none;   
}
nav ul li{
    margin: 0px 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500px;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
nav ul li a:hover{
    color: black;
    background-color: white;
}
nav div.logo_pic img{
    width: 90px;
    padding: 0px 5px 0px 5px;
    border-radius: 800px 800px 800px 800px;
}
nav ul li a:hover,
nav ul li a.active{
    color: black;
    background: white;
}
nav ul li hr{
    display: none;
}
nav .menu-button i{
    color: white;
    font-size: 50px;
    display: none;
}
footer{ 
    height: 100% ;
    background:#1b1b1b;
    padding: 15px 15px 15px 15px; /*Top, Right, bottom, Left*/
}
p.footer{
    border-radius: 5px ;
    padding: 2.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    background: white;
    color: black;
    text-align: left;
}
h1.footer{
    color: white;
    text-align: left;
}
footer div.logo_pic img{
    width: 150px;
    padding: 0px 5px 0px 5px;
    border-radius: 100%;
}
footer div.logo_pic img:hover{
    background:white;
    padding: 50px;
    transition: all 1s ease-in-out;
}
footer ul li.social-link{
    list-style: none;  
}
footer ul{
    display: flex;
}
#click-menu{
    display: none;
}
.copyright{
    font-weight: 900;
    background: #1b1b1b;
    color: aliceblue;
    text-align: center;
}
.copyright:hover{
    background: white;
    color:black;
}
div.social_div{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 675px;
        background:#1b1b1b;
        width: 475px;
        padding: 15px 15px 15px 15px; /*Top, Right, bottom, Left*/
}
div.social_div:hover{
    width: 700px;
    transition: all 1s ease;
}
div img{
    display:flex;
    width: 100px;
    padding: 0px 5px 0px 5px;
    border-radius: 100%;
}
@media (max-width: 940px){
    nav ul{
        position: fixed;
        top: 150px;
        background-color: #1b1b1b;
        left: -100%;
        width: 100%;
        height: 300px;
        padding: 15px;
        margin: 0px;
        border-radius: 0px;
        display: block;
        text-align: center;
        transition: all 1.2s ease-in-out;
    }
    #click-menu:checked ~ ul {
        left: 0%;
    }
    nav ul li{
        margin: 30px 10px;
    }
    nav ul li a{
        font-size: 25px
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: grey;
        background: none;
    }
    nav .menu-button i{
        color: white;
        font-size: 30px;
        display: block;
        cursor: pointer;
    }
    #click-menu:checked ~ .menu-button i:before{
        content: "\f00d";
    }
    div.social_div{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100% ;
        background:#1b1b1b;
        width: 100%;
        padding: 15px 15px 15px 15px; /*Top, Right, bottom, Left*/
    }
    div.social_div:hover{
        width: 100%;
    }
    hr:hover{
        width: 50%;
    }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px black; 
}
::-webkit-scrollbar-thumb {
  background: #1b1b1b; 
  border-radius: 50px;
  height: 10%;
}
::-webkit-scrollbar-thumb:hover {
  background: #373737; 
}
footer ul li a i{
    display: flex;
    color: aliceblue;
    font-size: 25px;
}
footer ul li a i:hover{
    background: white;
    border-radius: 100%;
    color:black;
}
