*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    padding-left: 1%;
    padding-right: 25%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 8px;
    font-size: 20px;

}
nav ul li a{
    transition: all 1s ease-in;
    text-decoration: none;
    color: black;
    font-size: 23px;
}
nav ul li a:hover{
    transition: all 0.2s ease-in-out;
    color: white;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}
.content{
    margin-top: 10%;
    margin-left: 10%;
}
.content .welcome{
    display: inline-block;
    background: linear-gradient(45deg, cyan
    ,blue);
    font-size: 25px;
    border-radius: 30px;
    padding: 20px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
.content .welcome:hover{
    transition: all 0.2s ease;
    box-shadow: 10px 18px 30px black;
}
.explore-btn p{
    display: inline-block;
    padding: 20px 20px;
    box-sizing: border-box;
    background: linear-gradient(180deg, cyan
    ,blu);
    font-size: 40px;
}
.arrow-icons{
    margin-left: 5%;
    margin-top: 50px;
    display: flex;
}
.arrow-icons img{
    display: inline-block;
    background: linear-gradient(180deg, blue
    ,cyan);
    border-radius: 100%;
    padding: 20px 30px;
    width: 60px;
    margin-right:0;
    margin-left: 80px;
}
.arrow-icons img:hover{
    transition: all 0.1s ease-in-out;
    box-shadow:10px 8px 25px white;
}
p.auto-typer-para{
    font-size: 35px;    
}
#click-menu{
    display: none;
}
@media (max-width: 600px) {
    .container{
        display: none;
    }
    .mobile-container{
        position: fixed;
        height: 1000vh;
        width: 100%;
        background-image: url(../images/background.jpg);
        padding-left: 3%;
        padding-right: 5%;
        padding-top: 3%;
        box-sizing: border-box;
        position: relative;
    }
    .mobile-container .mobile-navbar .menu-button i{
        color: white;
        font-size: 35px;
        display: block;
        cursor: pointer;
    }
    nav.mobile-nav ul{
        position: fixed;
        top: 130px;
        background-color:cyan;
        left: -120%;
        width: 100%;
        height: 4vh;
        padding: 5px;
        margin: 0px;
        border-radius: 0px;
        display: block;
        text-align:justify;
        transition: all 1.2s ease-in-out;
    }
    #click-menu:checked ~ ul {
        left: 0%;
    }
    nav.mobile-nav ul li{
        margin:5px 5px 5px 5px;
        padding-left: 5px 5px 5px 5px;
    }
    nav.mobile-nav ul li a{
        font-size: 20px
    }
    #click-menu:checked ~ .menu-button i:before{
        content: "\f00d";
    }
    .mobile-navbar{
        background: linear-gradient(180deg, cyan
        ,blue);
        width: 100%;
        height: 10vh;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        border-radius:25px ;
        justify-content: space-between;
    }

    .mobile-logo{
        border-radius: 100%;
        width: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .mobile-content h1{
        font-size: 60px;
        font-weight: 100;
        margin-top: 15px;
        margin-bottom: 15px;
        color: black;
    }
    .mobile-content{
        margin-top: 10%;
        margin-left: 10%;
    }
    .mobile-content .welcome{
        display: inline-block;
        background: linear-gradient(180deg, cyan
        ,blue);
        font-size: 25px;
        border-radius: 30px;
        padding: 20px 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: white;
    }
    .mobile-content .welcome:hover{
        transition: all 0.2s ease;
        box-shadow: 10px 18px 30px black;
    }
}
